# --- Rust ---
*/target/
**/*.rs.bk
Cargo.lock
# Ignore byproducts of 'cargo doc'
doc/

# --- Kotlin/Android ---
*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/captures/
.externalNativeBuild/
.cxx/
*.apk
*.ap_*
*.dex
*.class
*.jar
*.war
*.ear
*.hprof
*.log
*.keystore
*.jks
*.db
*.db-journal
*.db-shm
*.db-wal
*.xml
*.json
*.bin
*.idx
*.lock
*.tmp
*.orig
*.rej
*.swp
*.swo
*.swn
*.bak
*.backup
*.old
*.orig
*.save
*.sublime-workspace
*.sublime-project
.idea/
output.json

*/local.properties
*/.idea/caches
*/.idea/libraries
*/.idea/modules.xml
*/.idea/workspace.xml
*/.idea/navEditor.xml
*/.idea/assetWizardSettings.xml
.DS_Store
*/build
*/captures
.externalNativeBuild
.cxx
local.properties
.env


# Ignore logs
./logs/*
